<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'app_general/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'app_general/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'app_general/main.css' %}">
</head>

<body>
    {% include 'app_general/components/header.html' %}
    {% block content %}{% endblock %}
    {% include 'app_general/components/footer.html' %}
</body>
</html>