{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="home-landing-section">
    <div>
        <h2 class="home-landing-text">Home</h2>
        <p class="home-landing-text">Django Test</p>
        <p>
            <a class="button" href="{% url 'foods' %}">MenuAll</a>
            <a class="button button-primary" href="{% url 'subscription' %}">Register</a>
        </p>
    </div>
</section>
<section>
    <h4>descript</h4>
    <div>
        <div><img src="{% static 'app_general/home-about-1.jpg' %}" alt=""></div>
        <p>description...</p>
    </div>
    <div>
        <div><img src="{% static 'app_general/home-about-2.jpg' %}" alt=""></div>
        <p>description...</p>
    </div>
    <div>
        <div><img src="{% static 'app_general/home-about-3.jpg' %}" alt=""></div>
        <p>description...</p>
    </div>
</section>
{% endblock %}