{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div>
    <h2>Home</h2>
    <p>Django Test</p>
</div>
<section>
    <h4>descript</h4>
    <div>
        <div><img src="{% static 'app_general/home-about-1.jpg' %}" alt=""></div>
        <p>description...</p>
    </div>
    <div>
        <div><img src="{% static 'app_general/home-about-2.jpg' %}" alt=""></div>
        <p>description...</p>
    </div>
    <div>
        <div><img src="{% static 'app_general/home-about-3.jpg' %}" alt=""></div>
        <p>description...</p>
    </div>
</section>
{% endblock %}