{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
<section class="home-landing-section">
    <div>
        <h2 class="home-landing-text">Home</h2>
        <p class="home-landing-text">Django Test</p>
        <p>
            <a class="button" href="{% url 'foods' %}">MenuAll</a>
            <a class="button button-primary" href="{% url 'subscription' %}">Register</a>
        </p>
    </div>
</section>
<section class="content-section">
    <div class="content-container">
        <h4 class="content-title text-center">descript...</h4>
        <div class="grid grid-3">
            <div>
                <img class="image" src="{% static 'app_general/home-about-1.jpg' %}">
                <p>description1...</p>
            </div>
            <div>
                <img class="image" src="{% static 'app_general/home-about-2.jpg' %}">
                <p>description2...</p>
            </div>
            <div>
                <img class="image" src="{% static 'app_general/home-about-3.jpg' %}">
                <p>description3...</p>
            </div>
        </div>
        <p class="text-center">
            <a class="button" href="{% url 'about' %}">About</a>
        </p>
    </div>
</section>
{% endblock %}