{% extends 'app_general/components/base.html' %}

{% block title %}
Subscription
{% endblock %}

{% block content %}
<form action="{% url 'subscription' %}" method="post">
    {% csrf_token %}
    <h2>regist</h2>
    <div style="margin-bottom: 16px">
        <label>name</label>
        <input type="text" name="name">
    </div>
    <div style="margin-bottom: 16px">
        <label>email</label>
        <input type="email" name="email">
    </div>
    <div style="margin-bottom: 16px">
        {% for food in foods %}
        <input type="checkbox" name="food_ids[]" value="{{ food.id }}">
        <labe>{{ food.title }}</label>
        {% endfor %}
    </div>
    <div style="margin-bottom: 16px;">
        <button type="submit">register</button>
    </div>
</form>
{% endblock %}