{% extends 'app_general/components/base.html' %}
{% load static %}

{% block title %}
{{food.title}}
{% endblock %}

{% block content %}
{% if food is not None %}
<div>
    <h3><a>{{food.title}}</a></h3>
    <div><img src="{% static food.image %}" alt=""></div>
    {% if food.special_price is not None %}
    <p>
        <span>{{ food.special_price|floatformat:'g' }} bath</span>
        <del>{{ food.price|floatformat:'g' }} bath</del>
    </p>
    {% else %}
    <p>{{ food.price|floatformat:'g' }} bath</p>
    {% endif %}
    {% if food.is_premium %}
    <p>premium</p>
    {% endif %}
    <p>{{ food.description }}</p>
    <p>{{food.promosion_end_at|date:'j N Y'}}</p>
</div>
{% else %}
<p>empty</p>
{% endif %}
{% endblock %}